src/dtd/sms/invio_risposta.dtd

<!-- ##################################################### -->
<!-- # Copyright Regione Piemonte - 2021                 # -->
<!-- # SPDX-License-Identifier: EUPL-1.2-or-later        # -->
<!-- ##################################################### -->
<!ELEMENT ESITO_ACQUISIZIONE_SMS (SMS+)>
<!ELEMENT SMS (NUMERO,CODICE,MESSAGGIO)>
<!ELEMENT NUMERO (#PCDATA)>
<!ELEMENT CODICE (#PCDATA)>
<!ELEMENT MESSAGGIO (#PCDATA)>
